<div class="row">

    <div class="col-sm-4">
        <app-cart></app-cart>
    </div>

    <div class="col-sm-8">
        <div class="main-content-inner">
            <div class="card-area">

                <div class="row">

                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-primary card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/cincho.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Cincho caballero</h5>
                                <p class="card-text">
                                    Q.20.00
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/billeteracafe.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Billetera café</h5>
                                <p class="card-text">
                                    Q.250.00
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/riñoneraazul.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Riñonera azul</h5>
                                <p class="card-text">
                                    Q.375.00
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/cincho.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/cincho.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="../../../assets/cincho.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="assets/images/card/card-img7.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="assets/images/card/card-img8.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <button mat-button color="primary">
                                    <mat-icon>
                                        shopping_cart
                                    </mat-icon>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="card card-bordered">
                            <img class="card-img-top img-fluid" src="assets/images/card/card-img9.jpg" alt="image">
                            <div class="card-body">
                                <h5 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dicta.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci quidem, quam nam reiciendis facere blanditiis atque neque architecto omnis magni totam, voluptate maiores, iusto molestias incidunt unde nesciunt
                                    cum.
                                </p>
                                <a href="#" class="btn btn-primary">Go More....</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>