<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Carrito de compras</mat-card-title>
        <mat-card-subtitle>Desgloce</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <table class="table">
            <tr>
                <td>
                    CPU
                </td>
                <td>
                    Rs. 20000
                </td>
            </tr>
            <tr>
                <td>
                    Hard Disk
                </td>
                <td>
                    Rs. 5000
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total:</b>
                </td>
                <td>
                    <b>Rs. 25000</b>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Terminar compra</button>
        <button mat-button color="warn">Cancelar</button>
    </mat-card-actions>
</mat-card>