<div class="container">
    <div class="row">
        <!-- Elementos generados a partir del JSON -->
        <main id="items" class="col-sm-8 row"></main>
        <!-- Carrito -->
        <aside class="col-sm-4">
            <h2>Carrito</h2>
            <!-- Elementos del carrito -->
            <ul *ngFor="let products of productsToShop" id="carrito" class="list-group">
                <p class="title">Producto: {{products.nombre}}</p>
                <p class="card-text">Precio: Q.{{products.precio}}</p>

                <p class="card-text">Subtotal: Q.{{products.subtotal}}</p>
                <input [value]="products.cantidad" (change)="cambioCantidad($event)" type="number" id="quantity_600109219048d" class="input-text qty text" style="max-width: 15%;">
            </ul>
            <hr>
            <!-- Precio total -->
            <p class="text-right">Total: <span id="total"></span>Q.</p>
            <button id="boton-vaciar" class="btn btn-danger" (click)="limpiarCarrito()">Vaciar</button>
            <button id="boton-finalizar" class="btn btn-danger" (click)="finalizarCompra()">Finalizar compra</button>
        </aside>
    </div>
</div>